/** Application base color **/
$primary-color: #615DB0;
$secondary-color: #1B1375;
$tertiary-color: #07043B;

/** Neutral colors **/
$light-grey: #fafafa;
$light-cream: #F8F8F8;
$dark-grey: #2B2B2B;
$grey: #808080;

/** Button color **/
$light-green: #05D69B;


/** shadows **/
$shadow-light: 0 1rem 2.5rem rgba(128, 128, 128, 0.4);
$shadow-soft: 0 0 2rem rgba(128, 128, 128, 0.1);

/** section top margins **/
$section-margin-top: 25rem;

/** page padding **/
$body-padding: 4rem;