.header {
  background-image: url("../../dist/res/images/bg-intro-desktop.svg");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100vh;

  &__container {
    padding: $body-padding;

    &--nav {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 30px;

      &__logo {

      }

      &--cta {

        &__link {
          text-decoration: none;
          color: white;
          font-size: 14px;
          margin-right: 3.5px;
        }
      }
    }

  }

  &__text-area{
      display: flex;
      justify-content: space-between;

    &__content{
      max-width: 500px;
      padding: 3.5rem;
      margin-top: 9rem;

      &--header{
        margin-bottom: 2rem;
      }

      &--body{
        font-size: 15px;
        margin-bottom: 2.5rem;
      }

    }

    &__svg{
      margin-right: 5rem;
      height: 47rem;
    }

  }

}


